<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>{% block title %}{% endblock %}</title>

            {% block extraBCss %}{% endblock %}
            {% block extraBJs %}{% endblock %}

            {% block css %}
            <link href="{{ baseUrlAbsolute }}/css/bootstrap.css" rel="stylesheet">
            <link href="{{ baseUrlAbsolute }}/css/style.css?201909171705" rel="stylesheet">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                  rel="stylesheet"
                  crossorigin="anonymous">
            {% endblock %}

            <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

            {% block extraACss %}{% endblock %}
            {% block extraAJs %}
                <script>
                    var isLiveStream = false;
                </script>
            {% endblock %}
    {% endblock %}
    </head>
    <body>
        <script>
            var deviceType = 'mobileS';

            function setDeviceType () {
                deviceType = 'mobileS';
                if ($(document).width() >= 2560) {
                    deviceType = 'laptop4k';
                } else if ($(document).width() >= 1440) {
                    deviceType = 'laptopL';
                } else if ($(document).width() >= 1024) {
                    deviceType = 'desktop';
                } else if ($(document).width() >= 768) {
                    deviceType = 'tablet';
                } else if ($(document).width() >= 425) {
                    deviceType = 'mobileL';
                } else if ($(document).width() >= 320) {
                    deviceType = 'mobileM';
                }
            }

            var nbFlexItem = 6;
            function setFlexItemSize () {
                nbFlexItem = 6;
                switch (deviceType) {
                    case "mobileS":
                        nbFlexItem = 2;
                        break;
                    case "mobileM":
                    case "mobileL":
                        nbFlexItem = 3;
                        break;
                    case "tablet":
                        nbFlexItem = 6;
                        break;
                    case "desktop":
                        nbFlexItem = 8;
                        break;
                    case "laptopL":
                        nbFlexItem = 12;
                        break;
                    case "laptop4k":
                        nbFlexItem = 15;
                        break;
                }

                var widthFlexItem = Math.floor(($('#flex').width() /nbFlexItem) - 6);
                var heigthFlexItem = Math.floor(widthFlexItem * 1.6);

                if (isLiveStream === true) {
                    heigthFlexItem = widthFlexItem;
                }

                $('#flex .item img').css({'width': widthFlexItem + 'px', 'height': heigthFlexItem + 'px'});
            }

            setDeviceType();
            $(document).ready(function () {
                setFlexItemSize();
            });

            $(window).on("orientationchange", function() {
                setTimeout(function(){
                    setDeviceType();
                    setFlexItemSize();
                }, 250);

            });
        </script>
        <style>
            #header {
                background: rgb(24, 26, 27);
                width: 100%;
                z-index: 10;
                position: fixed;
                padding: 1em;
                font-weight: bold;
            }

            #header a.btn {
                background-color: rgb(49, 53, 55);
            }
            .btn {
                border-color: transparent;
            }
            a {
                color: rgb(195, 190, 182);
            }
            ::-webkit-scrollbar {
                background-color: #202324;
                color: #aba499;
            }
            ::-webkit-scrollbar-corner {
                background-color: #181a1b;
            }
            ::-webkit-scrollbar-thumb {
                background-color: #454a4d;
            }
            ::selection {
                background-color: #004daa !important;
                color: #e8e6e3 !important;
            }

            {% if isTv %}
            a.btn-danger, a.btn-default, a.btn-primary, a.btn-warning, a.btn-success, a.btn-info {
                background-color: rgb(49, 53, 55);
            }

            .form-control:focus {
                border-width: 3px;
                border-color: rgba(232,177,44, .8);
            }
            {% endif %}

            body {
                margin: 0;
            }

            #flex {
                padding-top: 5em;
            }

            #flex .over {
                line-height: 1.5em;
                letter-spacing: -0.5px;
                font-weight: bold;
                font-family: roboto;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 4px 6px;
                font-size: 13px;
                color: #fff;
                background: rgba(0,0,0,0.7);
                text-align: center;
            }

            #flex .vignette {
                font-size: 25px;
                position: absolute;
                top: 0;
                right: 5px;
                color: #ff0000;
                -webkit-text-stroke: 1px #7f0000;
            }

            .flex-images .item img {
                width: 6em;
                height: 10em;
                object-fit: contain;
            }

            #flex a:focus > .item {
                border: 5px solid #e8b12c;
                margin: -2px;
            }

            #flex a:focus > .item > .over {
                color: #e8b12c !important;
            }

            /* STARS */
            .star.star-1:after {
                width: 3px;
            }
            .star.star-2:after {
                width: 4px;
            }
            .star.star-3:after {
                width: 5px;
            }
            .star.star-4:after {
                width: 6px;
            }
            .star.star-5:after {
                width: 7px;
            }
            .star.star-6:after {
                width: 8px;
            }
            .star.star-7:after {
                width: 9px;
            }
            .star.star-8:after {
                width: 10px;
            }
            .star.star-9:after {
                width: 11px;
            }

            .sidenav {
                height: 100%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow: hidden;
                padding: 5em 0;
                transition: all 0.3s;
                display: none;
            }

            .sidenav a {
                font-family: roboto;
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                color: #818181;
                display: block;
                letter-spacing: -0.5px;
                line-height: 1em;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .sidenav ul {
                list-style-type:none;
                padding: 0;
            }

            .sidenav a:focus{
                font-weight: bold;
                color: #e8b12c !important;
            }

            img:not([src]) {
                visibility: hidden;
            }

            /* Fixes Firefox anomaly during image load */
            @-moz-document url-prefix() {
                img:-moz-loading {
                    visibility: hidden;
                }
            }
        </style>

{#        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#            crossorigin="anonymous"></script>#}

        <div id="overlay"></div>
        {% block body %}

        {% endblock %}

        {% block bg %}

        {% endblock %}


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"s
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            function sortAlphabetically(list, dataName, direction) {
                list.sort(
                    function(a, b){
                        return direction === 0
                            ? ($(a).data(dataName) < $(b).data(dataName) ? -1 : 1)
                            : ($(a).data(dataName) > $(b).data(dataName) ? -1 : 1);
                    }
                );

                return list;
            }
            function sortNumerically (list, dataName, direction) {
                list.sort(
                    function(a, b){
                        return direction === 0
                            ? $(a).data(dataName) - $(b).data(dataName)
                            : $(b).data(dataName) - $(a).data(dataName);
                    }
                );

                return list;
            }

            $('#overlay').click(function () {
                $(this).hide();
                $('.modal-custom').hide();
            });

            $('.sidenav').hover(function(){
                $('.sidenav').css('overflow', 'auto');
            });

            $('#hiddenCats').click(function () {
                $('.hidden-cat').toggle();
            });

            $('body').on('click', '.toggleSidebar', function(){
                $('.sidenav').toggle();
                $('#flex').toggleClass('flex-full');
                return false;
            });
            // $('.toggleSidebar').click(function(){
            //     $('.sidenav').toggle();
            //     $('#flex').toggleClass('flex-full');
            //     return false;
            // });

            {% if username == 'scilone'  %}
            // $(window).scroll(function() {
            //     if ($('.item-link:focus').length > 0) {
            //         $('.item-link:focus').nextAll('.item-link').each(function() {
            //             let item = $(this).find('.item');
            //             if (item.visible() === false && item.visible(true)) {
            //                 $(window).scrollTop((item.offset().top + item.height())-($(window).scrollTop() + $(window).height()))
            //                 return false;
            //             }
            //         });
            //     }
            //
            // });
            {% endif %}
        </script>
    {% block js %}

    {% endblock %}
    </body>
</html>
