{% extends "base.html.twig" %}

{% block body %}
    <style>
        body {
            background: white !important;
        }
    </style>
    <a href="{{ baseUrlAbsolute ~ homeUrlAbsolute }}" tabindex="1" class="btn btn-secondary" style="margin: 1em;">
        <i class="fa fa-home"></i>
    </a>

    <iframe
            width="100%"
            height="100%"
            src="https://fast.com/"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
{% endblock %}
